<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href="{% url 'open-opportunities' %}">Open Opportunities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href="{% url 'all-opportunities' %}">All Opportunities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " 
      aria-current="page" 
      href="{% url 'opportunites-without-contacts-follow-ups' %}">
      Isolated Opportunities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href="{% url 'all-contacts' %}">All Contacts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href="{% url 'current-contacts' %}">Current Contacts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href="{% url 'current-follow-ups' %}">Follow Ups</a>
  </li>
</ul>