{% extends "base.html" %} {% block content %} 

<table class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <th>Date</th>
        <th>Company Name</th>
        <th>Stack</th>
        <th>$Min </th>
        <th>Stage </th>
    </thead>
    <tbody>
        {% for o in opportunities %}
        <tr>
            <td>{{ o.initiation_date|default_if_none:"" }}</td>
            <td><a href="{% url 'opportunity_view' o.id %}">{{ o.company_name }}</a> </td>
            <td>{{ o.stack }}</td>
            <td>{{ o.posted_minimum }}</td>
            <td>{{ o.stage }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    {% endblock %}