{% extends "base.html" %} {% block content %}
<h1>Opportunity</h1>
<div class="container table-striped">
    <div class="row">
        <div class="col-2">Company Name</div>
        <div class="col">{{ o.company_name }}</div>
        <div class="col-8"></div>
    </div>
    <div class="row">
        <div class="col-2">Job Title</div>
        <div class="col">{{ o.job_title }}</div>
        <div class="col-6"></div>
    </div>
    <div class="row">
        <div class="col-2">Tech Stack</div>
        <div class="col">{{ o.stack }}</div>
        <div class="col-6"></div>
    </div>
    <div class="row">
        <div class="col-2">Salary Minimum</div>   
        <div class="col">     
        {% if o.posted_minimum > 0 %}
            $ {{ o.posted_minimum }}
        {% else %}
            <span class="font-italic">Unknown</span>
        {% endif %}
        </div>
        <div class="col-6"></div>
    </div>
    <div class="row">
        <div class="col-2">Stage</div>
        <div class="col">{{ o.stage }}</div>
        <div class="col-2">
            Change Stage to:
        </div>
        <div class="col-4">
            <select name="new_stage"> 
            {% for s in stages %}
                <option value="{{s.id}}">{{ s.name }}</option> 
            {% endfor %}
            </select>
            <a class="btn btn-success mt-1" href="#">Update Stage</a>
        </div>
    </div>
</div>
<hr/>

<h2>Notes</h2>
<table class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <th>Date</th>
        <th>Note</th>
    </thead>
    <tbody>
        {% for n in notes %}
        <tr>
            <td>{{ n.date }} </td>
            <td>{{ n.note }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h2>Follow Ups</h2>
<table class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <th>Date</th>
        <th>Completed</th>
    </thead>
    <tbody>
        {% for f in follow_ups %}
        <tr>
            <td>{{ f.follow_up_date }} </td>
            <td>
                {% if f.completed %}
                    {% include 'svg/check_mark' %}
                {% else %}
                    {% include 'svg/x_mark' %}                    
                {% endif %}</td>
            <td>
                {% if not f.completed %}
                <a class="btn btn-success" href="{% url 'complete-follow-up' f.id %}">Mark as Completed</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h2>Contacts</h2>
<table class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
    </thead>
    <tbody>
        {% for c in contacts %}
        <tr>
            <td>{{ c.name }} </td>
            <td>{{ c.phone }}</td>
            <td>{{ c.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h4>Stage History</h4>
<table class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <th>Date</th>
        <th>Stage</th>
    </thead>
    <tbody>
        {% for h in history %}
        <tr>
            <td>{{ h.transition_date }} </td>
            <td>{{ h.new_stage }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<p><a href="{% url 'open-opportunities' %}">Go to List</a></p>

{% endblock %}